// header part
@import 'notify';

/*******************
 General Topbar
*******************/

.topbar {
    position: relative;
    z-index: 50;
    transition: $transitions;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
    background: $topbar;
    height: $topbar-height;
    .navbar-collapse {
        padding: 0px 10px 0 0;
    }
    .top-navbar {
        min-height: $topbar-height;
        padding: 0px;
        .dropdown-toggle::after {
            display: none;
        }
        .navbar-header {
            line-height: $topbar-navlink-height;
            .navbar-brand {
                display: flex;
                align-items: center;
                margin: 0px;
                padding: $topbar-navbrand-padding;
                justify-content: space-between;
                .dark-logo {
                    display: none;
                }
                .logo-icon{
                    margin-right: 5px;    
                }
                .sidebartoggler {
                    color: $white;
                }
            }
        }
        .navbar-nav>.nav-item>.nav-link {
           padding: $topbar-navlink-padding;
           font-size: $topbar-navlink-font-size;
           line-height: $topbar-navlink-height;
           height:$topbar-navlink-height;       
           .noti {
                position: absolute;
                top: 13px;
                left: 28px;
                font-size: 60%;
           }
        }
        .navbar-nav>.nav-item{
            transition: 0.2s ease-in;
            &:hover{
                background: $transparent-dark-bg;
            }    
        }
    }
    .user-dd, .mailbox {
        min-width: 280px;
    }
    .nav-toggler, .topbartoggler{
        color:$theme-light;
        padding: 0 15px;
    }
}


.search-box {
    .app-search {
        z-index: 110;
        width: 100%;
        top: -1px;
        box-shadow: $shadow;
        display: none;
        left: 0px;
        .form-control {
            padding: 23px 40px 20px 23px;
            @extend %square;
            transition: $transitions;
            &:focus {
                border-color: transparent;
            }
        }
        .srh-btn {
            position: absolute;
            top: 23px;
            cursor: pointer;
            right: 20px;
        }
    }
}

/*******************
Topbar Responsive
******************/

@media (max-width: 767px) {
    .topbar .top-navbar {
        .navbar-collapse.show, .navbar-collapse.collapsing {
            display: block;
            width: 100%;
            border-top: 1px solid $border-color;
            background: $white;
        }
        .navbar-nav {
            flex-direction: row;
            .dropdown{
                position: static;
            }
        }
        .navbar-header{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
        .dropdown-menu {
            position: absolute;
            width: 100%;
             .with-arrow{
                display: none;
            }
        }
        
    }
}